.container {
  height: 250px;
}

.box1 {
  width: 200px;
  height: 200px;
  background-color: pink;
}

.box2 {
  width: 200px;
  height: 200px;
  background-color: orange;
}

.box3 {
  width: 200px;
  height: 200px;
  background-color: lightgreen;
}

.box4 {
  width: 200px;
  height: 200px;
  background-color: skyblue;
}

.box5 {
  width: 200px;
  height: 200px;
  background-color: purple;
  transition: all 1s ease;
}